page-service {

}

#service1 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    background-color: rgb(163, 231, 60);
    padding: 20px; 
    width: 300px;
    height: 160px; 
    font-size: 16px;
}

#service2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    background-color: rgb(163, 231, 60);
    padding: 20px; 
    width: 300px;
    height: 110px;
    font-size: 16px; 
}
//Matias Rantanen