#extra {
    border-radius: 25px;
    border: 2px solid #73AD21;
    background-color: rgb(163, 231, 60);
    padding: 20px; 
    width: 300px;
    height: 150px;
    font-size: 17px;
}

#extra1 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    background-color: rgb(163, 231, 60);
    padding: 20px; 
    width: 300px;
    height: 120px;
    font-size: 17px;
}
//Adding some color to the page
//Matias Rantanen 1601551